@import url(./basic-styles.css);

/* lesson styles */

.container {
  display: grid;
  /* gap: 20px; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-rows: 100px;
}
